.Header {
    height: 100px;
    font-size: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #696767;
    color: snow;
    border: 2px solid black;
}